<?xml version="1.1" encoding='UTF-8'?>
<frame>
	<frame_dimensions height="18" width="40"></frame_dimensions>
	<panel name="Panel1">
		<ip_address value="192.168.0.197"></ip_address>
		<start_coordinates x="0" y="20"></start_coordinates>
		<panel_dimensions height="18" width="20"></panel_dimensions>
		<blocks>
			<block pixels="168" id="1"></block>
			<block pixels="168" id="2"></block>
			<block pixels="24" id="3"></block>
		</blocks>
	</panel>
	<panel name="Panel2">
		<ip_address value="192.168.0.198"></ip_address>
		<start_coordinates x="0" y="0"></start_coordinates>
		<panel_dimensions height="18" width="20"></panel_dimensions>
		<blocks>
			<block pixels="168" id="1"></block>
			<block pixels="168" id="2"></block>
			<block pixels="24" id="3"></block>
		</blocks>
	</panel>
</frame>